@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
body {
  font-family: 'Open Sans', sans-serif; }

.navbar {
  background-color: transparent;
  border: none;
  margin-bottom: .8em;
  padding: 1.5em 2em 0 2em; }
  .navbar .navbar-toggle {
    background-color: #3580BB; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar .navbar-brand {
    font-size: 2em;
    font-weight: bold;
    color: #3580BB; }
    .navbar .navbar-brand span {
      color: #5C636E; }
  .navbar .navbar-form button {
    background-color: #3580BB;
    color: #fff; }

#landing {
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  height: 25.25em;
  color: #fff;
  padding-top: 5em; }
  #landing h1 {
    font-size: 4em; }
  #landing p {
    font-size: 1.8em; }

.download {
  color: #9C9BA0;
  padding: 0 5em; }
  .download h3 {
    font-weight: bold; }
  .download p {
    line-height: 1.7em; }
  .download button {
    padding: 0.5em 3em; }

@media screen and (min-width: 48em) {
  #landing h1 {
    font-size: 3em; }
  #landing p {
    font-size: 1.5em; } }
