@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
body {
  font-family: 'Open Sans', sans-serif; }

.navbar {
  background-color: transparent;
  border: none;
  margin-bottom: .8em;
  padding: 1.5em 2em 0 2em; }
  .navbar .navbar-toggle {
    background-color: #3580BB; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar .navbar-brand {
    font-size: 2em;
    font-weight: bold;
    color: #3580BB; }
    .navbar .navbar-brand span {
      color: #5C636E; }
  .navbar .navbar-form button {
    background-color: #3580BB;
    color: #fff; }

#landing {
  background-image: url("../images/hero-dark.jpg");
  background-size: cover;
  height: 25.25em;
  color: #fff;
  padding-top: 5em; }
  #landing h1 {
    font-size: 4em; }
  #landing p {
    font-size: 1.8em; }

.download {
  color: #9C9BA0;
  margin: 0 5em; }
  .download h3 {
    font-weight: bold; }
  .download p {
    line-height: 1.7em; }
  .download button {
    width: 16em; }

hr {
  color: #A0A0A0; }

.info,
.pics,
.welcome {
  margin: 0 3em; }

.well {
  background-color: #F0F0F0;
  color: #A3A3A3; }
  .well h3 {
    font-weight: bold; }

.pics h3 {
  color: #A6A6A6; }

img {
  width: 100%;
  height: 100%; }

.welcome {
  color: #A6A6A6; }
  .welcome h1 {
    font-weight: bold; }

.footer {
  background-color: #3A414B;
  color: #9299A2;
  margin-top: 3em;
  padding: 0 0 2em 2em; }
  .footer h3 {
    font-weight: bold; }
  .footer .underline p {
    text-decoration: underline; }

@media screen and (min-width: 48em) {
  #landing {
    padding: 8em 3em 0 0; }
    #landing h1 {
      font-size: 3em;
      margin-top: 0; }
    #landing p {
      font-size: 1.5em; }
  .download {
    padding-top: 2em; }
    .download h3 {
      margin: 0 0 1em 0;
      line-height: 1.5em; }
  .well {
    width: 33%;
    box-sizing: border-box;
    border: 1em solid #fff;
    padding-top: 0; }
    .well h3 {
      font-size: 1.2em; }
  .pics h3 {
    font-size: 1.35em; } }

@media screen and (min-width: 62em) {
  #landing h1 {
    font-size: 4em; }
  #landing p {
    font-size: 2em; }
  #landing .download button {
    margin-top: 2em; } }
